<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>html2</title>
    <style>
        p {
            color: green;
        }

        #xxx {
            color: blue;
        }
    </style>
</head>
<link type="text/css" rel="strlesheet" href="../../css/1.css">

<body>
<ul>
    <li id="xxx">xxxxx</li>
    <li>yyy</li>
    <li>zzz</li>
</ul>
<p id="xxx">xxxdd</p>


<!--    <img src="http://localhost:63342/WebStudy/web/img/feng.png">-->
<!--    <img src="../../img/feng.png">-->
</body>
</html>